/* owl carousel */
.carousel-section {
    position: relative;
}

.owl-carousel {
    width: 100%;
}
.owl-carousel .owl-item {
    height: 330px;
    transform: skew(-10deg);
    overflow: hidden;
}
.owl-carousel .owl-item img {
    width: calc(100% + 64px);
    height: 100%;
    object-fit: cover;
    transform: skew(10deg);
    position: relative;
    left: -32px;
}

.owl-controls {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    bottom: -5px;
    right: 150px;
    z-index: 9;
    transform: skew(-10deg);
    display: flex;
}
.owl-control-item {
    background-color: #cecece;
    padding: 5px 14px;
    display: flex;
    align-items: center;
}
.owl-control-item:not(:last-child) {
    margin-right: 5px;
}
.owl-control-item span,
.owl-control-item a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    transform: skew(10deg);
}
.owl-control-item a:hover,
.owl-control-item a:active {
    text-decoration: none;
}
.owl-control-item span {
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
.owl-control-item .owl-icon-prev,
.owl-control-item .owl-icon-next {
    font-size: 16px;
    padding: 3px 6px;
}
.owl-control-item .owl-icon-prev {
    margin-right: 10px;
}
.owl-control-item .owl-icon-next {
    margin-left: 10px;
}

.owl-control-item .owl-icon-play {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.owl-control-item .owl-icon-play::before {
    position: absolute;
    content: "";
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-35%, -50%);
}


/* responsive */
@media (max-width: 767px) {
    .owl-controls {
        right: 50px;
    }
}

@media (max-width: 575px) {
    .owl-controls {
        right: auto;
        left: 50%;
        transform: translateX(-50%) skew(-10deg);
    }
}